.section-cover {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  color: white;
  background-image: url("https://i.imgur.com/xKctGNe.jpg");
  background-size: cover;
  background-position: center;
}

.name-container {
  max-width: 1020px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  animation: Slide_Up 1.8s ease;
  gap: 15px;
}

.soy{
  font-size: 36px;
  width: fit-content;
  margin: 0;
}

.about-me {
  text-align: left;
  font-size: 36px;
  width: 60%;
  margin: 0;
}

a{
  width: fit-content;
}

.nahuel-amaya {
  font-size: 72px;
  width: fit-content;
  margin: 0;
}

.login-container {
  width: 380px;
  height: 380px;
  background-color: yellowgreen;
  margin: auto;
  border-radius: 1.5rem;
}


@keyframes Slide_Up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1070px) {
  .about-me {
    font-size: 60px;
    width: 80%;
  }
  .name-container{
    margin-left: 2rem;
  }
}

@media screen and (max-width: 734px) {
  .name-container {
    width: 100%;
    margin: 0 .5rem;
  }
  .about-me {
    font-size: 48px;
    width: 100%;
  }
}
