.bestProjects-container {
    height: 600px;
    width: 1020px;
    border-radius: 18px;
    display: flex;
    background-image: url('https://i.postimg.cc/jSKtT3k0/bad.png');
    background-size: cover;
    color: white;
  }

  .bestProjects {
    width: 80%;
    height: 80%;
    margin: auto;
  }
  
  .bestProjects-titulos-container {
    display: flex;
    flex-direction: column;
  }
  
  .bestProjects-text-container{
    width: 40%;
  }
  .bestProjects-firstText{
    font-size: 32px;
  }
  .bestProjects-secondText{
    font-size: 24px;
  }

  .bestProjects-titulo {
    font-weight: 700;
    font-size: 64px;
    margin: 0;
    text-align: left;
  }
  
  .bestProjects-anchors-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 180px;
  }
  
  .bestProjects-anchors {
    font-size: 18px;
    text-decoration: none;
    color: #06c;
  }
  
  .bestProjects-anchors:hover {
    text-decoration: underline;
  }
  
  .bestProjects-button {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 350px;
    left: 10px;
  }
  
  .bestProjects-button-image {
    width: 32px;
  }
  @media screen and (max-width: 1070px) {
    .bestProjects-container{
      height: 420px;
      width: 690px;
      margin: auto;
  }
  .bestProjects-titulo{
    font-size: 45px;
  }
  .bestProjects-text-container{
    height: auto;
  }
  .bestProjects-text{
    font-size: 30px;
  }
  }
  @media screen and (max-width: 734px) {
    .bestProjects-container{
      height: 550px;
      width: 360px;
      margin: auto;
  }
  .bestProjects-titulo{
    font-size: 40px;
  }
  .bestProjects-description-container{
    flex-direction: column;
  }
  .bestProjects-image{
    height: 50%;
  }
  .bestProjects-text-container{
    width: 100%;
  }
  .bestProjects-text{
    font-size: 18px;
  }
  }