.secondary-project {
  display: flex;
  justify-content: space-between;
  height: 630px;
  width: 500px;
  border-radius: 25px;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.light-projects{
  background-color: #fff;
}

.dark-projects{
  background-color: #2B303D;
}

.dark-secondary-project{
  display: flex;
  justify-content: space-between;
  height: 630px;
  width: 500px;
  border-radius: 25px;
  align-items: center;
  flex-direction: column;
  background-color: #2B303D;
}

.secondary-projects-titles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  justify-content: center;
  width: 265px;
}

.secondary-projects-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 0;
  letter-spacing: -1px;
}

.secondary-projects-anchors-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.secondary-projects-anchors {
  font-size: 18px;
  text-decoration: none;
  color: #06c;
}

.secondary-projects-anchors:hover {
  text-decoration: underline;
}

.secondary-projects-image-container {
  width: 100%;
  height: 55%;
  overflow: hidden;
  border-radius: 25px;
  text-align: center;
}

.imagen-sec {
  width: 80%;
}

.secondary-projects-description-container{
  width: 90%;
  height: 20%;
}

.secondary-projects-tecnologias-container{
  display: flex;
  height: 32px;
  margin: 14px 0;
  gap: 8px;
}

.text{
  width: 100%;
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 1070px) {
  .secondary-project{
    height: 420px;
    width: 330px;
  }
  .secondary-projects-titles-container {
    height: 40%;
  }
  .secondary-projects-title{
    font-size: 45px;
  }
  .text{
    font-size: 18px;
  }
  .secondary-projects-image-container{
    height: 50%;
  }
}
@media screen and (max-width: 734px) {
  .secondary-project{
    height: 550px;
    width: 360px;
    margin: auto;
}
.secondary-projects-titles-container {
  height: 30%;
}
.secondary-projects-title{
  font-size: 40px;
}
.secondary-projects-description-container{
  width: 100%;
}
}