.section-aboutMe {
  display: flex;
  min-height: 100vh;
  max-width: 1020px;
  margin: auto;
}

.aboutMe-tecnologias-container{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;
}

.aboutMe {
  font-size: 20px;
}

.about-me-tecnologias-container{
  display: flex;
  flex-direction: column;
}

.tecnologiasList{
  display: flex;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

li{
  padding: 1rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    font-size: 1rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

@media screen and (max-width: 1070px) {
  .section-aboutMe {
    text-align: center;
  }
  .aboutMe{
    width: 690px;
    margin: auto;
  }
  .tecnologias-container {
    width: 690px;
    margin: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 734px) {
  .section-aboutMe {
    text-align: center;
    margin: 0 15px;
  }
  .aboutMe{
    width: 100%;
  }
  .tecnologias-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 15px
  }
  .tecnologias-image {
    width: 85px;
  }
}
